.About {
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;

        li {
            padding: .2rem 0;

            i {
                font-size: 1.2rem;
            }

            span {
                padding-left: 1rem;
                font-size: 1rem;
                font-weight: 300;
            }

        }

    }

    a {
        @extend .primary-btn;
        
        i {
            color: $background-color;
            transition: transform .3s ease;
        }

        &:hover {
            i {
                transform: translateX(5px); 
            }
        }
    }


}