.Contact{

    .info-item{
        padding: 1.5rem;
        background-color: $secondary-background-color;
        i{
            font-size: 2rem;
        }

        h3{
            font-size: 20px;
            font-weight: 700;
            margin: 20px 0 10px 0;
        }

        p{
            font-size: 12px;
            margin: 0;
        }
    }

    .form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
        background-color: $secondary-background-color;

        input{
            border-radius: 0;

            &:focus{
                box-shadow: none!important;
                outline: none!important;
                border: 1px solid $primary-color;
            }
        }
        textarea{
            @extend input;
        }
    }
}