.FAQ{
    padding: 4rem 0;
    background-color: $secondary-background-color;

    span{
        font-size: 2.1rem;
        color: $default-color;
    }

    p{
        font-size: 15px;
        color: color-mix(in srgb, var(--default-color), transparent 30%);
    }
    .accordion-item{

        padding: .3rem;
        margin-bottom: .7rem;
        border-radius: 0;
        border: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .accordion-button{
            color: black;
            font-weight: 500;
            transition: all .3s ease;
            outline: none;
            background-color: transparent;
            
            &:focus{
                box-shadow: none !important;
                border: 0 !important;
            }
            &:not(.collapsed) h3{
                color: $primary-color!important;
            }
            span{
                color: $primary-color !important;
                padding-right: 4px;
                font-weight: 700;
                font-size: 1.2rem;
            }
            h3{
                cursor: pointer;
                color: $default-color;
                font-weight: 600;
                margin: 0;
                font-size: 1.2rem;
                transition: color .3s ease;

                &:hover {
                        color: $primary-color !important;
                    }
            }
            
        }
    }
}